// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.book{
  display: list-item;
  margin: 1%;
  padding: 1%;
  background: #638bdd;
  color: #ffffc4;
  font-size-adjust: 0.9;

}